A:link{text-decoration:none;color:#FFFFFF}
A:visited{text-decoration:none;color:#FFFFFF}
A:active{text-decoration:none;color:#FFFFFF}
A:hover{color:#00CC00}
A{text-decoration: none}
table{font-size: 9pt}body {  font-size: 9pt}
.pt11 {  font-size: 11pt}
.bar {  background-attachment: fixed; height: 45px; width: 159px}
