td {  font-size: 9pt; color: #FFFFFF}
a {  text-decoration: none}
.bar {  color: #FFFFFF}
.bar a {  color: #FFFFFF}
.left {  font-family: "Arial"; font-size: 9pt; color: #000000; text-align: left}
.login {  border: 1px #006699 groove}
.form0 {  border: 1px #006699 solid}
.form1 {  background-color: #FFFFFF; border: 1px #006699 solid; font-size: 9pt; color: #000000}
.scroll {  border-color: #FFFFFF #FFFFFF #FFFFFF #006699; border-style: dotted; border-left-width: 1px}
.left a {  font-family: "Arial"; color: #000000}
